<div class="container">
  <div class="row justify-content-center">
    <h2 class="text-center m-3">Find some restaurants near you!</h2>
    <form class="row col-12 col-md-6 col-lg-4" action="/restaurants" method="get">
      <div class="p-0 mb-3">
        <label for="postcode" class="form-label">Enter your postcode:</label>
        <input type="text" class="form-control" id="postcode" required name="postcode" value="<%= params[:postcode] %>" placeholder="W1A 1AA">
      </div>
      <div class="p-0 mb-3">
        <button type="submit" class="btn btn-primary w-100">Search</button>
      </div>
    </form>
  </div>
</div>


<%# <div class="container pt-5">
      <div class="row justify-content-center">
        <h2 class="text-center m-3">Create your account</h2>
        <form class="row col-12 col-md-6 col-lg-4" action="#">
          <div class="p-0 mb-3">
            <label for="email" class="form-label">Your email</label>
            <input type="email" id="email" class="form-control" placeholder="bob@gmail.com">
          </div>
          <div class="p-0 mb-3">
            <label for="password" class="form-label">Your password</label>
            <input type="password" id="password" class="form-control" placeholder="•••••••">
          </div>
          <label for="select" class="form-label p-0">How do you know us?</label>
          <select class="form-select mb-3" id="select" aria-label="Default select example">
            <option value="1">Facebook</option>
            <option value="2">Google Search</option>
            <option value="3">A friend</option>
          </select>
          <input type="submit" value="Sign Up" class="btn btn-lg btn-primary w-100">
        </form>
      </div>
    </div> %>
